patches_train/
old_embeddings/
archive/
__pycache__/
.ipynb_checkpoints/
node_modules/
dist/
models/
object-search-image.json
release_notes.md
.vercel
*.env
*.faiss
*.jsonl
*.ipynb
*.png
*.jpg
*.jpeg
*.gif